<!DOCTYPE html>
<html lang = "eng">
<head>
<title> The Beatles </title>
<meta charset = "utf-8">
</head>
<body>
<h1><b> The Beatles </b></h1>
<img style="display: block; margin-left: auto; margin-right: auto; border: 0pt none; margin: 0pt; padding: 0pt;" src="http://images5.fanpop.com/image/photos/27500000/The-Beatles-the-beatles-27518641-500-375.jpg" class="border_black main" border="0" alt="The Beatles wallpaper called The Beatles" title="The Beatles wallpaper in The Beatles Club" width="800" height="800">
<p> The Beatles were an extremely popular and legendary rock band that formed in Liverpool, England in 1960. They went on to transform and pave the way for music to be created as an art form. their hit songs included "Hey Jude", "Yellow Submarine", "Come Together", and many more.</p>
<h1><u> The Band Members </u></h1>
<ul> 
  <li> Paul McCartney </li>
  <li> John Lennon </li>
  <li> George Harrison </li>
  <li> Ringo Starr </li>
<h2><u> My Three Favorite Albums </u></h2>
<img class="irc_mi" src="https://shop.pbs.org/ccstore/v1/images/?source=/file/v806075278282660924/products/SPLH451.0.jpg&amp;height="500"&amp;width="500" alt="Image result for sgt. pepper's lonely hearts club band" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="339" height="339" style="margin-top: 7px;">
<dl>
  <dt><strong> Sgt. Pepper's Lonely Heart Club Band </strong></dt>
    <dd> Their eighth album that was released in 1967. Containing "Sgt. Pepper's Lonely Heart Club Band", and "With a little help from my friends". </dd>
<img class="irc_mi" src="https://cps-static.rovicorp.com/3/JPG_500/MI0003/606/MI0003606498.jpg?partner=allrovi.com" alt="Image result for the beatles white album" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="339" height="308" style="margin-top: 23px;">
  <dt><strong> The Beatles White Album </strong></dt>
    <dd> Their ninth album that was released in 1968. Contained "Dear Prudence", "Lucy in the sky with diamonds", and "Back in the U.S.S.R"</dd>
<img class="irc_mi" src="https://i.ytimg.com/vi/dahVpwRwRv8/maxresdefault.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="500" height="500" style="margin-top: 81px;" alt="Related image">    
  <dt><strong> Abbey Road </strong></dt>
    <dd> Their eleventh album that was released in 1969. Conatained "Come Together" and "Here comes the sun". </dd>
    
<footer><small> Maggie Foster ITSE-1311 <i> maggie.foster@nc.navarrocollege.edu </small></i></footer>    
